# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Etc
.vs
*.d
*.elf
*.ini
*.log
*.map
*.tlog
*.tlog\
*.idb
*.ilk
*.pdb
*.3dsx
*.smdh
*.lst
*.exe.recipe
*.iobj
*.ipdb
*.nds
*.dsi
*.sym
*.dmp
/out
/output
/Debug
/server/Gui Debug
/server/Gui Release
/server/ds2key
!/vJoyInterface.dll
/*.zip
/*.tar
/*.gz
/ds2key-linux-server
/copy-to-SD-root
