[Profile]
Name=Unnamed
Description=No Description
Mouse=Absolute
Joy=1
TopLeftX=702
TopLeftY=564
BotRightX=1214
BotRightY=948
DPadUp=JOY_00
DPadDown=JOY_01
DPadLeft=JOY_02
DPadRight=JOY_03
A=JOY_04
B=JOY_05
X=JOY_06
Y=JOY_07
L=JOY_08
R=JOY_09
Start=JOY_10
Select=JOY_11
Lid=
ZL=
ZR=
CStickUp=
CStickDown=
CStickLeft=
CStickRight=
CPadUp=
CPadDown=
CPadLeft=
CPadRight=
Blue=
Yellow=
Red=
Green=
SliderVolume=
Slider3D=KEY_ESCAPE
Touch00=
TouchString00=
Touch00X=0
Touch00Y=0
Touch00W=0
Touch00H=0
Touch01=
TouchString01=
Touch01X=0
Touch01Y=0
Touch01W=0
Touch01H=0
Touch02=
TouchString02=
Touch02X=0
Touch02Y=0
Touch02W=0
Touch02H=0
Touch03=
TouchString03=
Touch03X=0
Touch03Y=0
Touch03W=0
Touch03H=0
Touch04=
TouchString04=
Touch04X=0
Touch04Y=0
Touch04W=0
Touch04H=0
Touch05=
TouchString05=
Touch05X=0
Touch05Y=0
Touch05W=0
Touch05H=0
Touch06=
TouchString06=
Touch06X=0
Touch06Y=0
Touch06W=0
Touch06H=0
Touch07=
TouchString07=
Touch07X=0
Touch07Y=0
Touch07W=0
Touch07H=0
Touch08=
TouchString08=
Touch08X=0
Touch08Y=0
Touch08W=0
Touch08H=0
Touch09=
TouchString09=
Touch09X=0
Touch09Y=0
Touch09W=0
Touch09H=0
Touch10=
TouchString10=
Touch10X=0
Touch10Y=0
Touch10W=0
Touch10H=0
Touch11=
TouchString11=
Touch11X=0
Touch11Y=0
Touch11W=0
Touch11H=0
